
body{
    overflow: hidden;
    background-color: red;
}
@media screen and (orientation:landscape){
    #Portaretratos{
        display: flex;
        align-items: center;
        justify-content: center !important;
        margin: auto;
        padding-top: 3%;

        width: 1200px;
        height: 800px;
    }
    img{
        width: 80vw;
        height: 80vh;
    }
}

@media screen and (orientation:portrait){
    #Portaretratos{
        display: flex;
        align-items: center;
        justify-content: center !important;
        margin: auto;
        padding-top: 4%;

        width: 600px;
        height: 900px;
    }
    img{
        width: 80vw;
        height: 80vh;
    }
}


