
body{
    overflow: hidden;
    background-color: red;
}
@media (orientation:landscape){
    #Portaretratos{
        display: flex;
        align-items: center;
        justify-content: center !important;
        margin: auto ;
        padding-top: 2%;

        width: 1200px;
        height: 800px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}

@media (orientation:portrait){
    #Portaretratos{
        display: flex;
        align-items: center;
        justify-content: center !important;
        margin: auto;

        width: 600px;
        height: 900px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}


